<!DOCTYPE html>
<html>
<head>
    <title>ТехУчет МАКС</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <!-- Общая шапка -->
    <header>
        <nav>
            <a href="/allactive">Заявки</a>
            {{if eq .IsAdmin 1}}
                <a href="/users">Пользователи</a>
                <a href="/equipment">Оборудование</a>
                <a href="/equipmentDirectory">Справочник оборудования</a>
            {{end}}
        </nav>
    </header>

    <!-- Контентная часть (будет меняться) -->
    <main>
        {{template "content" .}}
    </main>

    <!-- Общий футер -->
    <!-- <footer>...</footer> -->
</body>
</html>