<!DOCTYPE html>
<html lang="ru">
{{define "content"}}

<body>
    <div class="form-container">
        <h2>Добавление нового ПК</h2>

        <form action="/equipment/newPC" method="POST">
            <div class="form-group">
                <label>Инвентарный номер</label>
                <input type="text" name="inv_num" value="{{ .InvNum }}" required
                       class="{{ if .InvNumError }}error-field{{ end }}">
                {{ if .InvNumError }}
                <div class="error-message">
                    {{ .InvNumError }}
                </div>
                {{ end }}
            </div>

            <div class="form-group">
                <label>Тип оборудования</label>
                <select name="directory_id" required>
                    <option value="" selected disabled>Выберите тип оборудования</option>
                    {{ range .Directories }}
                        <option value="{{ .Id }}" {{ if eq .Id $.SelectedDir }}selected{{ end }}>
                            {{ .Name }}
                        </option>
                    {{ end }}
                </select>
            </div>

            <div class="form-group">
                <label>Отдел</label>
                <select name="department_id" required>
                    <option value="" selected disabled>Выберите отдел</option>
                    {{ range .Departments }}
                        <option value="{{ .Id }}" {{ if eq .Id $.SelectedDept }}selected{{ end }}>
                            {{ .Name }} - {{ .DivisionName }}
                        </option>
                    {{ end }}
                </select>
            </div>

            <div class="form-group">
                <label for="cpuId">Процессор:</label>
                <select id="cpuId" name="cpuId" required class="form-input">
                    <option value="" selected disabled>Выберите процессор</option>
                    {{range .CPUs}}
                        <option value="{{.Id}}" {{if eq .Id $.SelectedCPUId}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>

            <div class="form-group">
                <label for="gpuId">Видеокарта:</label>
                <select id="gpuId" name="gpuId" required class="form-input">
                    <option value="" selected disabled>Выберите видеокарту</option>
                    {{range .GPUs}}
                        <option value="{{.Id}}" {{if eq .Id $.SelectedGPUId}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>

            <div class="form-group">
                <label for="mbId">Материнская плата:</label>
                <select id="mbId" name="mbId" required class="form-input">
                    <option value="" selected disabled>Выберите материнскую плату</option>
                    {{range .MBs}}
                        <option value="{{.Id}}" {{if eq .Id $.SelectedMBId}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>

            <div class="form-group">
                <label>Объём ОЗУ: </label>
                <input type="number" name="ram" value="{{ .RAM }}" required min="1" class="form-input">
            </div>

            <div class="form-group">
                <label for="storage">Объем памяти:</label>
                <input type="number" id="storage" name="storage" value="{{.Storage}}" class="form-input" required min="1">
            </div>

            <button type="submit" class="btn">Добавить</button>
        </form>
    </div>
</body>

{{end}}
</html>