<!DOCTYPE html>
<html lang="ru">
{{define "content"}}

<body>
    <div class="form-container">
        <h2>Закрытие заявки {{.RequestId}}</h2>

        <form action="/request/{{.RequestId}}/close" method="POST">

            <div class="form-group">
                <label>Результатом заявки: </label>
                <select name="result_id" required>
                    <option value="" selected disabled>Выберите результат</option>
                    {{ range .RequestResults }}
                        <option value="{{ .Id }}">
                            {{ .Name }}
                        </option>
                    {{ end }}
                </select>
            </div>

            <div class="form-group">
                <label for="resultDescr">Описание результата заявки:</label>
                <textarea 
                    id="resultDescr" 
                    name="resultDescr" 
                    rows="5" 
                    placeholder="Кратко перечислите выполненные работы или обнаруженные несиправности"
                ></textarea>
            </div>

            <div class="form-actions">
                <form action="/request/{{.RequestId}}/close" method="POST" onsubmit="return confirm('\nЗакрыть заявку?\n\nПосле закрытия, заявка станет неизменяемой.\nОстанется доступным только прикрепление документов\n\nЕсли по данному оборудованию открыты другие заявки, состояние этого оборудования не будет измененено');">
                    <button type="submit" class="btn">Закрыть заявку</button>
                </form>
                <a href="/request/{{.RequestId}}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</body>

{{end}}
</html>